aiofiles==25.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.10.0
asgiref==3.11.0
astor==0.8.1
asttokens==3.0.0
astunparse==1.6.3
attrs @ git+https://github.com/python-attrs/attrs.git@43a868d703f06fffb724d5d03d4f80ac447cb27c
backcall==0.2.0
bashlex==0.18
beautifulsoup4==4.14.2
bidict==0.23.1
blake3==1.0.6
bleach==6.2.0
blinker==1.9.0
boto3 @ git+https://github.com/boto/boto3.git@76b347e4fb16bae71703d1ce5fc74a15b8ec3092
brotli==1.2.0
brotlicffi==1.2.0.0
cachetools==5.5.2
cbor2==5.7.0
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.4.1
click @ git+https://github.com/pallets/click.git@f67abc6fe7dd3d878879a4f004866bf5acefa9b4
cloudpickle==3.1.1
compressed-tensors==0.11.0
contourpy==1.3.3
coverage==7.11.0
cryptography==46.0.3
cupy-cuda12x==13.6.0
cycler==0.12.1
Cython==3.2.2
datasets==3.2.0
decorator==5.2.1
defusedxml==0.7.1
depyf==0.19.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
Django @ git+https://github.com/django/django.git@e94b19f6abdda70689aa17e399ce5fdef7897674
dnspython==2.8.0
docopt==0.6.2
docstring_parser==0.17.0
einops==0.8.1
email-validator==2.3.0
executing==2.2.1
fastapi==0.116.2
fastapi-cli==0.0.13
fastapi-cloud-cli==0.2.0
fastcore==1.8.8
fastjsonschema==2.21.2
fastrlock==0.8.3
fastuuid==0.12.0
filelock==3.17.0
Flask==3.1.2
flask-cors==6.0.1
Flask-SocketIO==5.5.1
fonttools==4.59.2
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.9.0
gdown==5.2.0
gguf==0.17.1
ghapi==1.0.8
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.182.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
graphviz==0.21
grpcio==1.75.0
grpcio-status==1.71.2
gsppy==3.6.0
h11==0.16.0
h2==4.3.0
hf-xet==1.1.10
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.0
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.35.1
Hypercorn==0.18.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.3.0
interegular==0.3.3
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.2
jsonlines==4.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.9
lark==1.2.2
linkify-it-py==2.0.3
litellm==1.76.1
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.11.3
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib @git+https://github.com/matplotlib/matplotlib.git@3323161b83c56f90cf63d2b30c24a65b8b12c953
matplotlib-venn==1.1.2
mdit-py-plugins==0.5.0
mdurl==0.1.2
meson==1.10.0
meson-python==0.18.0
mistral_common==1.8.5
mistune==3.1.4
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.5
ninja==1.13.0
numba==0.61.2
numpy==2.2.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
openai==1.104.2
openai-harmony==0.0.4
opencv-python-headless==4.12.0.88
outcome==1.3.0.post0
outlines_core==0.2.11
packaging @git+https://github.com/pypa/packaging.git@4b015117d76b6e4f86e8d58bbfd02e5ed2da3238
Pillow @ git+https://github.com/python-pillow/Pillow@5c89d88eee199ba53f64581ea39b6a1bc52feb1a
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.5
partial-json-parser==0.2.1.1.post6
pexpect==4.9.0
pickleshare==0.7.5
pipreqs==0.5.0
platformdirs==4.4.0
pluggy==1.6.0
priority==2.0.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.2.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pycountry==24.6.1
pycparser==2.23
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
pygraphviz==1.14
pyparsing==3.2.3
pyproject-metadata==0.10.0
PySnooper==1.2.3
PySocks==1.7.1
pytest==9.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-json-logger==3.3.0
python-multipart==0.0.20
python-socketio==5.13.0
pytz==2025.1
PyYAML==6.0.2
pyzmq==27.1.0
Quart==0.20.0
quart-trio==0.12.0
ray==2.49.2
referencing==0.36.2
regex==2025.9.1
requests @ git+https://github.com/psf/requests.git@70298332899f25826e35e42f8d83425124f755a5
scikit-learn @ git+https://github.com/scikit-learn/scikit-learn.git@473fef0bf83882efbc3273c2dfb4d82491e9066b
rich==14.1.0
rich-argparse==1.7.1
rich-toolkit==0.15.1
rignore==0.6.4
rpds-py==0.27.1
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
s3transfer
safetensors==0.6.2
scipy==1.16.1
seaborn==0.13.2
sentencepiece==0.2.1
sentry-sdk==2.38.0
setproctitle==1.3.7
setuptools==79.0.1
shellingham==1.5.4
simple-parsing==0.1.7
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
soxr==1.0.0
sqlparse==0.5.5
stack-data==0.6.3
starlette==0.48.0
swe-rex==1.4.0
sympy @ git+https://github.com/sympy/sympy.git@a1286acb5b08744d11f1fcffafef36c2ccac38d1
sphinx @ git+https://github.com/sphinx-doc/sphinx.git@7926051f69f77bc5d78a2ceaa8847deea9f2c0a3
tabulate==0.9.0
tenacity==9.1.2
textual==6.1.0
threadpoolctl==3.6.0
tiktoken==0.11.0
tinycss2==1.4.0
tokenizers==0.22.0
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.56.2
trio==0.32.0
triton==3.4.0
trustme==1.2.1
typer==0.19.2
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
uc-micro-py==1.0.3
unidiff==0.7.5
uritemplate==4.2.0
uvicorn==0.35.0
uvloop==0.21.0
vllm==0.10.2
watchfiles==1.1.0
wcwidth==0.2.14
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wsproto==1.2.0
xarray==2025.12.0
xformers==0.0.32.post1
xgrammar==0.1.23
xxhash==3.5.0
yarg==0.1.9
yarl==1.18.3
zipp==3.23.0
urllib3 @ git+https://github.com/urllib3/urllib3.git@7784b9eee95b7c90802c02b111e98df70259ae4f 